
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=latin-ext");

html {
    font-family: Roboto, sans-serif;
}

.login h2, .login h3 {
	color: #a43735;
}

.v-app-bar {
	background: #2c84bf !important;
	color: white !important;
}	
